body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: Figtree, Arial;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 14px;
    margin: 0;
}

.container-main {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: fit-content;
    margin: auto;
    border-radius: 12px;
}

.image-avatar {
    width: 88px;
    border-radius: 44px;
    margin-bottom: 18px;
}

.container-text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-name {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

.text-location {
    color: hsl(75, 94%, 57%);
    margin-bottom: 18px;
    font-weight: 600;
}

.text-occupation {
    margin-bottom: 16px;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;
}

@media (max-width: 1024px) {
    .container-buttons {
        width: 300px;
    }
}

.button-general {
    margin: 7px;
    height: 38px;
    width: 100%;
    border-radius: 6px;
    border-style: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    transition: color 0.2s, background-color 0.3s;
    font-weight: 700;
}

.button-general:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}